html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  line-height: 1.8;
  background-color: #FBFBFB;
}

p {
  letter-spacing: .05em;
  line-height: 1.25;
  font-family: "Raleway", sans-serif;
  font-size: 1.1em;
}

.header1,
.header2,
.header3 {
  font-family: "Changa", sans-serif;
}

.content {
  margin: 15px;
}

.btn,
#btn {
  font-weight: bold;
  font-size: 18px;
  color: #fbfbfb;
  background: linear-gradient(90deg, #e9c46a 0%, #e76f51 100%);
  padding: 10px 30px;
  border: none;
  box-shadow: rgb(0, 0, 0) 5px 5px 25px -11px;
  border-radius: 50px;
  transition: 1594ms;
  transform: translateY(0);
  cursor: pointer;
  font-style: none;
  letter-spacing: .06em;
  font-family: "Raleway", sans-serif;
}

.btn:hover,
#btn:hover,
.headerBtn:hover {
  transition: 1594ms;
  padding: 10px 38px;
  transform: translateY(-0px);
  background: linear-gradient(90deg, #e9c46a 0%, #e76f51 100%);
  color: #000000;
  border: none;
  font-family: "Raleway", sans-serif;
}

img {
  width: 500px;
  height: auto;
}

/* Light & Dark Mode button  */
.dark-mode {
    background-color: black;
    color: white;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/img/bkg.png");
  min-height: 100%;

}

.w3-button {
  padding: 16px;
  border-radius: 16px;
  font-family: "Raleway", sans-serif;
  letter-spacing: .05em;
}

.w3-button:hover {
  background: linear-gradient(90deg, #e9c46a 0%, #e76f51 100%);
  font-weight: 600;
  box-shadow: rgb(0, 0, 0) 5px 5px 25px -11px;
}

.logoImg {
  width: 70px;
  height: auto;
  margin: 12px 12px 12px 1rem;
}

/* Navbar */
#myNavbar {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

#links {
  display: flex;
  margin-left: auto;
  margin-right: 1rem;
}

#hamburger {
  margin-left: auto;
  font-size: 25px;
}


/* Header */
.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 55%;
}

.headerBtn {
  font-weight: bold;
  font-size: 38px;
  color: #fbfbfb;
  background: linear-gradient(90deg, #e9c46a 0%, #e76f51 100%);
  padding: 20px 80px;
  border: none;
  box-shadow: rgb(0, 0, 0) 5px 5px 25px -11px;
  border-radius: 50px;
  transition: 1594ms;
  transform: translateY(0);
  cursor: pointer;
  font-style: none;
  letter-spacing: .06em;
  font-family: "Raleway", sans-serif;
}

.headerBtn:hover {
  transition: 1594ms;
  padding: 30px 90px;
  transform: translateY(-0px);
  background: linear-gradient(90deg, #e9c46a 0%, #e76f51 100%);
  color: #000000;
  border: none;
  font-family: "Raleway", sans-serif;
}

/*  About Section */
.aboutContainer {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

#aboutHeaderText {
  text-align: center;
  font-size: 3.5rem;
}

.aboutHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

#kidImg {
  width: 500px;
  height: auto;
}

.header3 {
  font-weight: 600;
  font-size: 2rem;
}

.aboutButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/*  Mission Section */
.missionContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #1C58A1;
}

#missionHeaderText {
  padding-top: 2rem;
  text-align: center;
  font-size: 3.5rem;
  color: white;
}

.missionText {
  margin-left: 1rem;
  margin-right: 1rem;
  color: white;
  padding-bottom: 2rem;
  text-align: center;
}

.missionHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.childrenImg {
  width: 500px;
  height: auto;
}

/*  Data Section */
.dataContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.dataHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#dataHeaderText {
  text-align: center;
  font-size: 3.5rem;
}

.dataImg {
  width: 500px;
  height: auto;
  border-radius: 15px;
  margin-bottom: 1rem;
}

.impactContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.youtubeVideo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  
}

/*  footer  */
.footer {
  background-color: #1C58A1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  color: white;
}