html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  line-height: 1.8;
}

p {
  letter-spacing: 0.05em;
  line-height: 1.25;
  font-family: "Raleway", sans-serif;
  font-size: 1.1em;
}

.header1,
.header2,
.header3 {
  font-family: "Changa", sans-serif;
}

.content {
  margin: 15px;
}

.btn,
#btn {
  font-weight: bold;
  font-size: 18px;
  color: #fbfbfb;
  background: linear-gradient(90deg, #e9c46a 0%, #e76f51 100%);
  padding: 10px 30px;
  border: none;
  box-shadow: rgb(0, 0, 0) 5px 5px 25px -11px;
  border-radius: 50px;
  transition: 1594ms;
  transform: translateY(0);
  cursor: pointer;
  font-style: none;
  letter-spacing: 0.06em;
  font-family: "Raleway", sans-serif;
}

.btn:hover,
#btn:hover,
.headerBtn:hover {
  transition: 1594ms;
  padding: 10px 38px;
  transform: translateY(-0px);
  background: linear-gradient(90deg, #e9c46a 0%, #e76f51 100%);
  color: #000000;
  border: none;
  font-family: "Raleway", sans-serif;
}

img {
  width: 500px;
  height: auto;
}

/* Light & Dark Mode button  */
.dark-mode {
  background-color: #131516;
  color: #fbfbfb;
}

#myNavbar.dark-mode-navbar {
  background-color: #131516;
}

.btnToggle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #131516;
  background-color: #fbfbfb;
  height: auto;
  width: 40px;
  margin-left: 1rem;
  transition: transform 0.3s ease-in-out;
}

.btnToggle:hover {
  transition: 100ms;
  transform: scale(1.1);
  background: linear-gradient(90deg, #e9c46a 0%, #e76f51 100%);
}

.modeImg {
  width: 30px;
  margin: auto;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/img/bkg.png");
  min-height: 100%;
  margin-top: 87px;
}

.w3-button {
  padding: 16px;
  border-radius: 16px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.05em;
}

.w3-button:hover {
  background: linear-gradient(90deg, #e9c46a 0%, #e76f51 100%);
  font-weight: 600;
  box-shadow: rgb(0, 0, 0) 5px 5px 25px -11px;
}

.logoImg {
  width: 70px;
  height: auto;
  margin: 12px 12px 12px 1rem;
}

/* Navbar */

.navbar {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #fbfbfb;
}

#links {
  display: flex;
  margin-left: auto;
  margin-right: 1rem;
}

#hamburger {
  margin-left: auto;
  font-size: 25px;
}

/* Header */
.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 55%;
}

.headerBtn {
  font-weight: bold;
  font-size: 38px;
  color: #fbfbfb;
  background: linear-gradient(90deg, #e9c46a 0%, #e76f51 100%);
  padding: 20px 80px;
  border: none;
  box-shadow: rgb(0, 0, 0) 5px 5px 25px -11px;
  border-radius: 50px;
  transition: 1594ms;
  transform: translateY(0);
  cursor: pointer;
  font-style: none;
  letter-spacing: 0.06em;
  font-family: "Raleway", sans-serif;
}

.headerBtn:hover {
  transition: 1594ms;
  padding: 30px 90px;
  transform: translateY(-0px);
  background: linear-gradient(90deg, #e9c46a 0%, #e76f51 100%);
  color: #000000;
  border: none;
  font-family: "Raleway", sans-serif;
}

/*  About Section */
.aboutContainer {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

#aboutHeaderText {
  text-align: center;
  font-size: 3.5rem;
}

.aboutHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

#kidImg {
  width: 500px;
  height: auto;
}

.header3 {
  font-weight: 600;
  font-size: 2rem;
}

.aboutButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/*  Mission Section */
.missionContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #1c58a1;
  padding-bottom: 2rem;
}

#missionHeaderText {
  padding-top: 2rem;
  text-align: center;
  font-size: 3.5rem;
  color: white;
}

.missionText {
  margin-left: 1rem;
  margin-right: 1rem;
  color: white;
  padding-bottom: 2rem;
  text-align: center;
}

.missionHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.childrenImg {
  width: 500px;
  height: auto;
}

/*  Data Section */
.dataContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.dataHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#dataHeaderText {
  text-align: center;
  font-size: 3.5rem;
}

.dataImg {
  width: 500px;
  height: auto;
  border-radius: 15px;
  margin-bottom: 1rem;
}

.impactContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.youtubeVideo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

/*  footer  */
.footer {
  background-color: #1c58a1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  color: white;
}

/* Validation Form */
.petitionBtn {
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 2rem;
}

#petitionModal {
  display: none;;
}

.close {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  color: #000000;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: auto;
  margin-right: 1rem;
}

input:invalid {
  border-style: solid;
  border-width: 2px;
  border-color: rgba(168, 2, 2, 0.993);
  background: rgb(247, 247, 247);
}

input:invalid:required {
  background: rgba(255, 192, 203, 0.842);
}

input:valid {
  border: 1px solid #131516;
}

.modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #e9c46a;
  width: 75%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  padding: 1rem;
  box-shadow: rgb(0, 0, 0) 5px 5px 25px -11px;
  height: 800px;
}

.support {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.formContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  
  
}

.formTitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
}

.petition-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.petition-title {
  font-family: "Changa", sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

.petition-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  min-width: auto;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  text-align: center;
}

.modal-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.petition-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
}

label {
  margin-top: 20px;
}

.signBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
#signButton {
  margin-top: 20px;
  margin-bottom: 20px;
}
